<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        name="sef"
        label="COM_JCAR_CONFIG_SEFGENERATION_LABEL"
        description="COM_JCAR_CONFIG_SEFGENERATION_DESC"
        addfieldpath="administrator/components/com_jcar/models/fields">
        <field
            name="sef_generate"
            type="radio"
            default="0"
            label="COM_JCAR_CONFIG_SEFGENERATION_GENERATE_LABEL"
            description="COM_JCAR_CONFIG_SEFGENERATION_GENERATE_DESC"
            class="btn-group">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="sef_menutype"
            type="jcar.menu"
            label="COM_JCAR_CONFIG_SEFGENERATION_MENUTYPE_LABEL"
            description="COM_JCAR_CONFIG_SEFGENERATION_MENUTYPE_DESC"
            size="1" />
        <field
            name="sef_parent_id"
            type="jcar.menuparent"
            label="COM_JCAR_CONFIG_SEFGENERATION_PARENTID_LABEL"
            description="COM_JCAR_CONFIG_SEFGENERATION_PARENTID_DESC"
            default="1"
            filter="int"
            size="1">
            <option value="1">COM_JCAR_CONFIG_SEFGENERATION_PARENTID_ROOT</option>
        </field>
    </fieldset>
</config>
